### Author: Kubam Ivo

### Date: 1/26/2021

### Project: NY Taxi Time Series Forecast

In [2]:
# Importing the necessary packages
import pandas as pd
import numpy as np

In [12]:
# Importing the data set

df = pd.read_csv('./Data/df_concat.csv')
df_loc = pd.read_csv('./Data/df_loc.csv')

In [11]:
# Ensuring pickup is datetime

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

KeyboardInterrupt:

In [13]:
# Extracting needed columns
df['month_name'] = pd.to_datetime(df['tpep_pickup_datetime']).dt.month_name()
df['year'] = pd.DatetimeIndex(df.loc[:,'tpep_pickup_datetime']).year

In [14]:
df.head()

,tpep_pickup_datetime,pulocationid,dolocationid,total_amount,trip_duration,taxi_type,month_name,year
0,1/8/2009 20:08,239,239,3.8,1,yellow,January,2009
1,1/30/2009 8:05,263,141,5.3,6,yellow,January,2009
2,1/16/2009 17:55,143,142,7.1,8,yellow,January,2009
3,1/10/2009 23:50,230,137,9.0,10,yellow,January,2009
4,1/29/2009 18:35,114,186,9.9,13,yellow,January,2009

In [9]:
df.shape[0]

1048575

In [ ]:
# defining functions
def df_time_series(df,start,end,field,taxi):
    '''This function receives parameters and filters, grouped and output a time series dataset'''
    df = df.groupby([month_name','year','stat','end']).agg(value = (field,'median'),).reset_index()